/* base styles for all pages */
@import "./fonts.css";

:root {
  --text-color: #eef6ff;
}

html {
  color: var(--text-color);
  padding: 5px;
}

a {
  color: var(--text-color);
  text-underline-offset: 5px;
}
a:hover {
  text-decoration: none;
}

main {
  max-width: 600px;
  margin: 0 auto;
  font-size: 24px;
  font-family: Quicksand-light;
}

.section-title {
  font-family: Quicksand-dash;
  font-weight: 0;
  margin-top: 80px;
}

/* Creating the pattern background */
html {
  --s: 30px; /* control the size */

  --c: #001934 0 25%, #0000 0;
  --p: 0 0 / calc(3 * var(--s)) calc(2 * var(--s));
  background:
    conic-gradient(from -45deg at 75% 62.5%, var(--c)) var(--p),
    conic-gradient(from 135deg at 25% 37.5%, var(--c)) var(--p),
    repeating-conic-gradient(from 90deg, var(--c), #001d3d 0 50%) 0 0 / var(--s)
      var(--s);
}
